{% extends 'base.html' %}
{% load static %}


{% block content %}
   
    <p class="is-size-2 title">Dashboard di {{ object }}</p><br>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Rating medio</p>
            <p class="title">{{average_rating}}/5</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Numero valutazioni</p>
            <p class="title">{{total_seller_reviews}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Incasso</p>
            <p class="title">{{total_sold_revenue}}€</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Prodotti venduti</p>
            <p class="title">{{total_sold_products}}</p>
          </div>
        </div>
      </nav>

    <br>
    
    {% if request.user.is_authenticated %}
    
    
    <h5><strong>Ordini dei clienti</strong></h5>

                <div class="list-group">
                    {% for order in orders %}

                    <div class="list-group-item">
                      <b>{{ order.product.title }}</b>
                            <div class="tags are-medium is-pulled-right ">
                              <span class="tag is-info">{{ order.customer }}</span>
                          </div>
                          
                    </div>
                    {% endfor %}
                </div>

                <br>

                <br>
                <hr>
                <h5><strong>Recensioni dei clienti</strong></h5>
                <br>
                {% for review in my_review %}
                <article class="message">
                  <div class="message-header "  style="background-color:hsl(188, 68%, 25%)">
                      <p>{{review.reviewer}}</p>
                      <p class="is-right">{{review.created_at|date:"d M Y"}}</p>
                  </div>
                  <div class="message-body">
                          <p>Valutazione {{ review.stars }}/5<span style="color:#ff9900">&#9733;</span></p>
                          
                  </div>
              </article>
                <br>
                {% endfor %}
               
        
            
            
    {% endif %}

  
{% endblock content %}