{% extends 'base.html' %}
{% load static %}

{% block title %}Dettagli {{ object }}{% endblock title %}

{% block content %}
    <section class="is-large">
    <h1 class="title">Dettagli di {{ object }}</h1>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Numero ordini acquistati</p>
            <p class="title">{{num_orders}}</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Totale speso</p>
            <p class="title">{{sum_orders}}€</p>
          </div>
        </div>

      </nav>
    <div>
        Username: <b>{{ user}}</b><br>
        Indirizzo e-mail: <b>{{ user.email }}</b>
        
    </div>

    <br>

</section>
{% endblock content %}