{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{form | crispy}}
      <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}