{% extends 'base.html'%}
{% load static %}

{% block content %} 
<h1 class="mb-4">Elenco prodotti in vendita</h1>
{% if not object_list %}
    No sales yet
{% endif %}
<div class="list-group">
    {% for product in object_list %}
        <div class="list-group-item">
            <b><a href="{% url 'shop:itemdetails' product.slug %}" class="has-text-dark  is-active" >{{ product.title }}</a></b> 
            <a href="{% url 'shop:delete' product.slug %}" class="float-right btn btn-danger is-pulled-right ml-2">Remove</a> 
            <a href="{% url 'shop:update' product.slug %}" class=" float-right btn btn-primary is-pulled-right ml-2">Modifica</a>
            
        </div>
    {% endfor %}
</div>
<div>
     <a href="{% url 'shop:create' %}"> 
        <button class="btn btn-primary is-pulled-center mt-3">Aggiungi Vendita</button>
    </a>
</div>

{% endblock %}