{% extends 'base.html'%}
{% load static %}

{% block content %} 

<h1 class="is-size-2 title">I tuoi ordini</h1>
{% if not object_list %}
    No sales yet
{% endif %}
<div class="list-group">
    {% for product in object_list %}
        <div class="list-group-item">
            <b><a href="{% url 'shop:itemdetails' product.product.slug %}" class="has-text-dark is-active" >{{ product.product.title }}</a></b> 
            <div class="tags are-medium is-pulled-right ">
                <span class="tag is-info">{{ product.product.price }}€</span>
            </div>
            
        </div>
    {% endfor %}
</div>
<br><br><br>
{% endblock %}