.box-element{
    box-shadow: hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.product{
    border-radius: 0 0 4px 4px;
}

.thumbnail{
    width: 100%;
    height: 200px;
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,0.5);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,0.5);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,0.5);
}
@media (max-width: 800px) {
	#home .content h1 {
		font-size: 30px;
	}
	#home .content p {
		width: 90%;
		font-size: 16px;
	}
	.content {
		padding: 50% 0;
	}

}


