.home-image {
    background-image: url("../img/homes.jpg");
    background-size: cover;
  }
  
#banner-image {
    position: relative;
	background-image: url(../img/base.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
    


#home {
	position: relative;
	background-image: url(../img/homes.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
#home #banner-image .content {

    
	width: 100%;
	
}
#home #banner-image .content h1 {
	font-size: 60px;
	margin: 10px 0;
	color: rgb(255, 255, 255);
}
#home #banner-image .content p {
	width: 50%;
	margin: auto;
	line-height: 1.6;
	color: rgb(255, 255, 255);
}
.content {
	width: 80%;
	height: 100%;
	padding: 15% 0;
}
.content h1 {
	font-size: 30px;
	text-transform: uppercase;
}
.content p {
	font-size: 24px;
	line-height: 50px;
}
@media (max-width: 800px) {
	#home .content h1 {
		font-size: 30px;
	}
	#home .content p {
		width: 90%;
		font-size: 16px;
	}
	.content {
		padding: 50% 0;
	}

}


