{% load static %}
{% load static group_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  Ecommerce  {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  
  <body>
    <nav class="navbar is-transparent" style="background-color:hsl(188, 68%, 25%)"role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'homepage' %}">
          <img src="{% static 'img/logo1.png' %}" width="40" height="28">
        </a>
        
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          
          <a class="navbar-item has-text-white is-active" href="{% url 'homepage' %}">Home</a>
          <a class="navbar-item has-text-white is-active" href="{% url 'shop:items' %}" >Shop</a>
        </div>
        
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {% if request.user.is_authenticated %}
              <div class="navbar-item has-dropdown is-hoverable">
                <b><a class="navbar-link has-text-white">{{user.username}}</a></b>
                
                <div class="navbar-dropdown is-right">
                  {% if request.user|is_group:'seller' %}
                  <a class="dropdown-item" href="{% url 'login:yourproduct' %}">I tuoi prodotti</a>
                  <a class="dropdown-item" href="{% url 'login:dashboard' user.id %}">Dashboard</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'login:yourorder' %}">I tuoi ordini</a>
                  <a class="dropdown-item" href="{% url 'login:userdetails' %}">Informazioni account</a>
                  {% else %}
                  <a class="dropdown-item" href="{% url 'login:yourorder' %}">I tuoi ordini</a>
                  <a class="dropdown-item" href="{% url 'login:userdetails' %}">Informazioni account</a>
                  {% endif %}
                  
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'login:logout' %}">Logout</a>
                </div>
                </div>
              {% else %}
              <a class="button is-light" href="{% url 'login:registration' %}"><strong>Sign up</strong></a>
              <a class="button is-light" href="{% url 'login:login' %}">Log in</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="section is-medium">
      <div class="row">
        <div class="col-2">{% block left_section %} {% endblock left_section %}</div>
        <div class="col-8">
          
            {% block content %}
            
           
          
		      {%include 'search_form.html'%}
          {%include 'carousel.html'%}
          {%include 'reccomandation.html'%}
          
                {% endblock %}
          
        </div>
        <div class="col-2">{% block right_section %}{% endblock right_section %}</div>
      </div>
  
		
		</section>
    


    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
      
    
      
    
    
    {%block footer%} {%include 'footer.html'%}{%endblock%}
  </body>

