<section class="is-large">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'shop:items' %}">Shop</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{object.title}}</a></li>
      </ul>
    </nav>
</section>