
<section class="section is-medium">
    
    <h3 class="is-size-3 has-text-centered">Scopri le nostre categorie</h3>
    <div id="carousel-demo" class="carousel">
    
          
        {% for category in categories %}
        <div class="item">
           
                <div class="card">
                <a href="{% url 'shop:category_filter' category.slug %}">
                <img src="{{ category.image.url }}" class="img-fluid" ></a>
                
                    <div class="card-body">
                    <h6 class="card-title is-size-5 has-text-centered">{{ category.title }}</h6>
                </div>
                
            </div>
            <br>
        </div>
        {%endfor%}
    </div>
    <br><br><br><br>
    
</section>