
<nav class="panel">
    <p class="panel-heading has-text-white" style="background-color:hsl(188, 68%, 25%)">
      Prezzo
    </p>
    <form method="GET" action="{% url 'shop:price_filter' %}">
        <input class="input is-transparent" name="min_price" type="number" min="0" placeholder="0">
        <input class="input is-transparent" name="max_price" type="number" placeholder="Max">
        <div class="panel-block">
            <button type="submit" class="button is-black is-outlined is-fullwidth">
              Filtra
            </button>
          </div>
    </form>
    
</nav>
<article class="panel ">
    <p class="panel-heading has-text-white is-center" style="background-color:hsl(188, 68%, 25%)">Categorie</p>
    {% for category in categories %}
    <a class="panel-block is-active" href="{% url 'shop:category_filter' category.slug%}">
      <span class="panel-icon">
        <i class="fas fa-book" aria-hidden="true"></i>
      </span>
      {{category.title}}
    </a>
    {%endfor%}
  </article>

  
<nav class="panel ">
  <p class="panel-heading has-text-white" style="background-color:hsl(188, 68%, 25%)">
    Taglia
  </p>
  <div class="container">
  <form method="GET" action="{% url 'shop:size_filter' %}">
    
    <label class="checkbox">
      <input type="checkbox" name="size" value="XL">
      XL
    </label><br>
    <label class="checkbox">
      <input type="checkbox" name="size" value="L">
      L
    </label><br>
    <label class="checkbox">
      <input type="checkbox" name="size" value="M">
      M
    </label><br>
    <label class="checkbox mr-4">
      <input type="checkbox" name="size" value="S" >
      S
    </label><br>
  </div>
    
      <div class="panel-block">
          <button type="submit" class="button is-black is-outlined is-fullwidth">
            Filtra
          </button>
        </div> 
  </form>
  
</nav>