<footer class="footer" style="background-color:hsl(188, 68%, 25%)"">
    <div class="content has-text-centered">
      <p class="has-text-white">
        <strong class="has-text-white">Project</strong> by <a href="https://gitlab.com/274292">Riccardo Prini</a>. The source code is 
        <a href="https://gitlab.com/274292/techweb2122">here</a>. A.A 2022/2023</a>.
      </p>
    </div>
  </footer>