
{% load static group_tags %}


    
    

<section class="section container ">
{% if request.user.is_authenticated %}

    {% if request.user|is_group:'seller' %}
    <h1 class="is-size-3" >Le tue vendite.</h1>

    <div id="carousel-demo" class="carousel">
    
          
        {% for order in selled_product %}
        <div class="item">
            <div class="box-element product">
                <a href="{% url 'shop:itemdetails' order.product.slug %}">
                <img src="{{ order.product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                <div class="card-body">
                    <h6 class="card-title">{{ order.product.title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ order.date|date:"d F Y" }} </h6>
                    <h6 class="card-subtitle mb-2 text-muted"> {{ order.customer }} </h6>
                </div>
            </div>
            <br>
        </div>
        
        {% endfor %}
    </div>
    {% else %}
    <h1 class="is-size-3" >Consigliati per te.</h1>
    <br> 
    {%if product_reccomandation|length != 0 %}
    <h1 class="is-size-5" >In base alle tue preferenze:</h1>
    <div id="carousel-demo" class="carousel">
    
          
        {% for product in product_reccomandation %}
        <div class="item">
            <div class="box-element product">
                <a href="{% url 'shop:itemdetails' product.slug %}">
        <img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                <div class="card-body">
                    <h6 class="card-title">{{ product.title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                </div>
            </div>
            <br>
        </div>
        
        {% endfor %}
    </div>

    <br><br><br>
    {%endif%}
    {%if last_prod|length != 0 %}
    <h1 class="is-size-5" >In base a quello che hai vistato:</h1>
    <div id="carousel-demo" class="carousel">
    
          
        {% for product in last_prod %}
        <div class="item">
            <div class="box-element product">
                <a href="{% url 'shop:itemdetails' product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                <div class="card-body">
                    <h6 class="card-title">{{ product.title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                </div>
            </div>
            <br>
        </div>
        
        {% endfor %}
    </div>
    </div>
    {%endif%}
    {%endif%}
</section>
  {%endif%}


