{% load static %}
<section class="section container">
  <div class="content is-normal">
    <main role="main" class="container">
      
      <h1 class="has-text-centered  is-size-1" >Trova i prodotti adatti a te.</h6>
     
      <form method="GET" action="{% url 'shop:search' %}">
        <div class="field has-addons ">
          <div class="control is-expanded">
            <input class="input" type="text" name="title_contains" placeholder="Cerca..">
          </div>
          <div class="control ">
             <button class="button has-text-white" style="background-color:hsl(188, 68%, 25%)">Search</button>
           </div>

        </div>
      
        <p class="has-text-centered is-size-6">Non sai cosa cercare? {% for prod in random_product%}<a href="{% url 'shop:itemdetails' prod.slug %}" class="has-text-dark is-active"  ><b>Lasciati ispirare</b></a>{%endfor%}</p>
            <p class="has-text-centered is-size-7">Le nostre categorie: {%for cat in categories%}<b><a href="{% url 'shop:category_filter' cat.slug%}" class="has-text-dark is-active">{{cat.title}}</a></b> {%endfor%}</p>
      </div> 

      
      </div>
      
    </div>
  </form>
  
    </main>
  </section>