{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Buy product{% endblock title %}

{% block content %}
    
<p class="is-size-3">Confermi l'acquisto del seguente prodotto?</p>
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
            <img src="{{ product.image.url }}" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
        <h6>{{ object.title }}</h6>
        <h6>€ {{object.price}}</h6>
        <h6>Category: {{ object.category }}</h6>
        <p>{{ object.description }}</p>
        <form class="float-right"method="post" action="{% url 'shop:addorder' product.slug %}">
            {% csrf_token %}
            {{ form | crispy}}
            <br>
            <a href="{% url 'shop:itemdetails' product.slug %}" class="button is-secondary">Annulla</a>
            <input type="submit" value="Conferma" class="button is-success">
        </form>
    </div>
    </div>
    
   
{% endblock content %}