{% extends 'base.html' %}
{% load static %}


{% block title %}Categorie{% endblock %}

{% block content %}

<h2>Categorie</h2>
    <br>
    <div class="row">
        {% for category in object_list %}
        <div class="col-lg-3">
            <div>
                <a class="btn btn-outline-info" href="{% url 'shop:category_filter' category.slug %}">{{ category.title }}</a>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>

{% endblock content %}