{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete product{% endblock title %}

{% block content %}
    <br>
    <p class="is-size-3">Vuoi rimuovere il seguente prodotto dalle tue vendite?</p>
    <div class="card border-danger">
        <br>
        <div class="card-image">
            <figure class="image is-3by4">
            <img src="{{ product.image.url }}" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
        <h6>{{ object.title }}</h6>
        <h6>€ {{object.price}}</h6>
        <h6>Categoria: {{ object.category }}</h6>
        <p>{{ object.description }}</p>
            
        <form class="float-right" method="post">
            {% csrf_token %}
            {{ form | crispy}}
            <br>
            <a href="{% url 'login:yourproduct' %}" class="button is-secondary">Annulla</a>
            <input type="submit" value="Elimina" class="button is-danger">
        </form>
    </div>

    </div>
    
   
{% endblock content %}