
{% extends 'base.html' %}
{% load static %}

{% block title %}Products{% endblock %}
{% block first_row %}
{% endblock first_row %}

{% block left_section %}{%include 'filters.html'%}{% endblock %}

{% block content %}

    
    <div class="row">
        {% for product in object_list %}
        <div class="col-lg-3">
            <div class="box-element product">
                <a href="{% url 'shop:itemdetails' product.slug %}">
                    <img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                <div class="card-body">
                    <h6 class="card-title">{{ product.title }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                </div>
            </div>
            <br>
        </div>
        
        {% endfor %}
    </div>
    
{% endblock %}