{% extends 'base.html' %}
{% load static %}

{% block title %}- {{ object.title }} - details{% endblock title %}


{% block content %}
<section class="is-medium">
    {%include 'breadcrumb.html'%}
   
    <h1 class="title is-size-2">
       {{ object.title }}
    </h1>
    <br>
    <div class="container">
        <div class="row">
            
            <div>
                <img height="400px" src="{{ object.image.url }}" style="object-fit: cover"> 
            </div>
            <div class="m-lg-3">
                Venduto da: <a href="{% url 'shop:sellerdetails' object.seller.pk%}">{{ object.seller }}</a>
                <br>
                <br>
                {% if object.get_average_score == 0 %}
                <p class="is-size-6">Nessuna recensione</p>
                {% else %}
                <h4>{{object.score}}/5<span style="color:#ff9900">&#9733;</span> ({{object.get_reviews_num}})</h4>
                {% endif %}
                
                <br><strong>Categoria</strong>: {{object.category}}        
                <br>
                <h5 class="is-size-3 title">€ {{ object.price }}</h5>
                <br>
                <a href="{% url 'shop:buyitem' object.slug%}" class="button is-info">Acquista</a>
            </div>
        </div>
        
        <br>
        <br>
        <h5><strong>Descrizione prodotto:</strong></h5>
        <p> {{ object.description }} </p> 
        <br>
        
        
        
        <br><br><br>

       
        <h4><strong>Confronta con prodotti simili</strong> </h4>
        {% if rs_category|length != 0 %}
        <h5><strong>Categoria simile</strong> </h5>
        <div class="row">
            
           
            {% for product in rs_category %}
            <div class="col-lg-3">
                <div class="box-element product">
                    <a href="{% url 'shop:itemdetails' product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                    <div class="card-body">
                        <h6 class="card-title">{{ product.title }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'shop:sellerdetails' product.seller.pk %}">{{product.seller}}</a></h6>
                        <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                    </div>
                </div>
                <br>
            </div>
            
            {% endfor %}
            {%endif%}
            </div>
            {% if rs_price|length != 0 %}
        <h5><strong>Prezzo simile</strong> </h5>
        <div id="carousel-demo" class="carousel">
        
            
            
            {% for product in rs_price %}
            <div class="item">
                <div class="box-element product">
                    <a href="{% url 'shop:itemdetails' product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                    <div class="card-body">
                        <h6 class="card-title">{{ product.title }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted"><a href="{% url 'shop:sellerdetails' product.seller.pk %}">{{product.seller}}</a></h6>
                        <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                    </div>
                </div>
                <br>
            </div>
            
            {% endfor %}
            {%endif%}
        </div>
        
    
          <br>
        
        <br>
        
             

       
        <h3 class="title" style="color:hsl(188, 68%, 25%)">Recensioni</h3>
        {% if not request.user.is_authenticated %}
            <a href="{% url 'login:login' %}" class="btn btn-outline-dark">Accedi per visualizzare le recensioni</a>
        {% else %}
            {% if object.get_reviews_num == 0 %}
            <h6>Nessuna recensione</h6> 
            <br>
            {% endif %}
            {% if already_reviewed %}
                <h5><strong>La tua recensione</strong></h5>
                <article class="message">
                    <div class="message-header "  style="background-color:hsl(188, 68%, 25%)">
                        <p>{{my_review.reviewer}}</p>
                        <p class="is-right">{{my_review.date|date:"d M Y"}}</p>
                    </div>
                    <div class="message-body">
                            <p>{{my_review.stars }}/5<span style="color:#ff9900">&#9733;</span></p>
                            <p>{{ my_review.text }}</p>
                    </div>
                </article>
                <br>
                <hr>
            {% else %}
                <a href="{% url 'shop:review_product' object.slug %}">
                    <div>
                        <button class="button is-info">Lascia una recensione!</button>
                    </div>
                </a>
            {% endif %}
            <br>
            {% if object.get_average_score != 0 %}
            <h5><strong>Recensioni clienti</strong></h5>
            {% endif %}
           
            <br>    
          <section>
              
            {% for review in object.get_reviews %}
            <article class="message">
                <div class="message-header "  style="background-color:hsl(188, 68%, 25%)">
                    <p>{{review.reviewer}}</p>
                    <p class="is-right">{{review.date|date:"d M Y"}}</p>
                </div>
                <div class="message-body">
                        <p>{{ review.stars }}/5<span style="color:#ff9900">&#9733;</span></p>
                        <p>{{ review.text }}</p>
                </div>
            </article>
                <br><br>
            {% endfor %}
        </section>
            
        {% endif %}
        
        
    </section>
{% endblock content %}