{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}Review{% endblock %}

{% block content %}
    {% if vendor is not None %}
        <form method="POST" action="#"> {% csrf_token %}
    {% else %}
        <form method="POST" action="{% url 'shop:review_product' product %}"> {% csrf_token %}
    {% endif %}
        {{ form | crispy }}
        <input type="submit" value="Confirm" class="btn btn-outline-success">
    </form>
{% endblock content %}