{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    <h1 class="is-size-2 title">
        Dettagli di {{ object }}
    </h1>
    <br>
    <nav class="level is-mobile">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Rating medio</p>
            <p class="title">{{average_rating}}/5</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Numero valutazioni</p>
            <p class="title">{{total_seller_reviews}}</p>
          </div>
        </div>
      </nav>
    <div>
        Indirizzo e-mail: <b>{{ object.email }}</b>
    </div>
   

    <br><br>
    
    {% if request.user.is_authenticated %}
        {% if not already_reviewed and not self_review %}
            <a href="{% url 'shop:review_seller' object.pk%}">
                <div>
                    <button class="button is-info">Lascia una recensione!</button>
                </div>
            </a>
        
        {% elif already_reviewed %}
                <h5><strong>Recensioni clienti</strong></h5>
                <br>
                {% for review in my_review %}
                <article class="message">
                    <div class="message-header "  style="background-color:hsl(188, 68%, 25%)">
                        <p>{{review.reviewer}}</p>
                        <p class="is-right">{{review.created_at|date:"d M Y"}}</p>
                    </div>
                    <div class="message-body">
                            <p>Valutazione {{ review.stars }}/5<span style="color:#ff9900">&#9733;</span></p>
                            
                    </div>
                </article>
                <br>
                {% endfor %}
                <hr>
        {% endif %}
            
        <br><br>
        

        <p class="is-size-3 title">Prodotti venditore</p>
        <div id="carousel-demo" class="carousel">
    
          
            {% for product in seller_products %}
            <div class="item">
                <div class="box-element product">
                    <a href="{% url 'shop:itemdetails' product.slug %}"><img src="{{ product.image.url }}" class="card-img-top" style="height:12vw; object-fit: scale-down;"></a>
                    <div class="card-body">
                        <h6 class="card-title">{{ product.title }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">€ {{ product.price }} </h6>
                    </div>
                </div>
                <br>
            </div>
            
            {% endfor %}
        </div>    
    {% endif %}

{% endblock content %}