{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}- Update product{% endblock title %}

{% block content %}
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <a href="{% url 'login:yourproduct' %}" class="button is-secondary">Annulla</a>
        <input type="submit" value="Modifica" class="button is-info">
    </form>
{% endblock content %}